*{
    background-color: black;
}
h1{
    text-align: center;
    color: white;
    background:linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
}
.white{
    color: white;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.white{
    color: white;
}
img{
    height: 200px;
    width: 200px;
}
h2{
    font-weight: normal;
}
p{
    width: 300px;
    height: 54px;
}